<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<meta charset="UTF-8">
<div layout:fragment="content">
    <div class="container d-flex" style="width: 100vw; justify-content: center;">
        <div class="" style="width: 600px;">
            <div class="card mb-4" style="margin-top:150px">
                <div class="card-header">
                    <p class="text-center fs-4">Saque</p>
                </div>
                <div class="card-body">
                    <form method="POST" th:object="${saque}" th:action="@{/usuario/saque}">
                        <div class="form-group mb-3">
                            <label for="valor">Valor: </label>
                            <input class="form-control" th:field="*{valor}" type="number" step="0.01" min="0"
                                   required></input>
                            <div class="text-danger" th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}"></div>
                        </div>
                        <p th:text="'Saldo da conta: R$' + ${#numbers.formatDecimal(conta.saldo, 0, 'POINT', 2, 'COMMA')}"></p>
                        <button type="submit" class="btn btn-primary">Sacar</button>
                    </form>
                </div>
            </div>
            <div class="alert alert-primary" th:if="${notasSaque != null}" >
                <p th:text="'Notas Sacadas'"></p>
                <p th:text="'Notas de R$ 100: ' + ${notasSaque.notas100}"></p>
                <p th:text="'Notas de R$ 50: ' + ${notasSaque.notas50}"></p>
                <p th:text="'Notas de R$ 20: ' + ${notasSaque.notas20}"></p>
                <p th:text="'Notas de R$ 10: ' + ${notasSaque.notas10}"></p>
            </div>
            <div class="alert alert-primary" th:if="${mensagem != null}" th:text="${mensagem}">
            </div>
        </div>
    </div>
</div>

</html>